# This is a basic workflow to help you get started with Actions

name: GCC builder

on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: download & extraction
        run: wget https://ftp.gnu.org/gnu/gcc/gcc-12.2.0/gcc-12.2.0.tar.xz && tar -xvf gcc-12.2.0.tar.xz
        
      - name: renamer
        run: mv gcc-12.2.0 gcc-12
        
      - name: gcc
        run: cd gcc-12 && contrib/download_prerequisites && ./configure --prefix=/home/runner/work/bugithub/GCC-12-Github --enable-languages=c,c++ --build=x86_64-pc-linux-gnu --with-pkgversion="DevG++ GCC custom" --with-gcc-major-version-only --disable-multilib && make && make check-gcc && make install

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: assets-for-download
          path: /home/runner/work/bugithub/
          
      - name: 'Upload Artifact Backup'
        uses: actions/upload-artifact@v2
        with:
          name: assets-for-backup
          path: $(find /home -type d -name "GCC-12-Github" 2>/dev/null)
